*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#wrapper{
   height:100vh;
   overflow-y:auto;
   overflow-x:hidden;
   perspective:10px;
   
}
.container{
    height:100%;
    /* width:100%; */
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    position:relative;
    z-index: -1;
}
.background,.foreground{
    position: absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:-1;
}
.background{
    transform:translateZ(-50px) scale(6);

}
.foreground{
    transform:translateZ(-10px) scale(2)
}
h1{
    position:absolute;
    top:5rem;
    left:100px;
    font-size:10rem;
    color:#FFFF;
    text-shadow: 0 0 10px rgb(0,0,0.3)
    
}
section{
    background-color: rgb(45,45,45);
    color:white;
    padding:5rem 0;
}
.bg{
    position:relative;
    height:500px;
    width:100%;
    background-attachment:fixed;
    background-size:cover;
    background-position: center;
    
}
.bg1{
    background-image: url(elements/sport-1.jpg);
}
.bg2{
    background-image: url(elements/sport-2.jpg);
}
.bg3{
    background-image: url(elements/sport-3.jpg);
}
.head{
    font-size:5rem;
    padding:0 10rem
}
.text{
    font-size:1.5rem;
    padding:0 10rem;
    margin:5rem 0;
}
.focus{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    font-size:3.5rem;
    background-color: rgb(255, 255, 255);
    color:black;
    padding:0.5rem 2.5rem;
    font-weight:600;
}